.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((50rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}
