@font-face {
  font-family: 'Open';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Brand';
  src: url('../assets/fonts/Bellefair-Regular.ttf');
  font-style: normal;
  font-display: block;
}

h1 {
  font-size: var(--step-6);
  font-family: Open;
}

h2 {
  font-size: var(--step-5);
  font-family: Open;
}

h3 {
  font-size: var(--step-4);
  font-family: Open;
}

h4 {
  font-size: var(--step-3);
  font-family: Open;
}

h5 {
  font-size: var(--step--2);
  font-family: Open;
}

h6 {
  font-size: var(--step--1);
  font-family: Open;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
