h1 {
  line-height: 1.2;
}

@media (max-width: 900px) {
  .film {
    padding-left: 1ch;
  }
  .media {
    padding-left: 1ch;
  }
}

@media (min-width: 900px) {
  .film {
    padding-left: 4ch;
  }
  .media {
    padding-left: 4ch;
  }
}

.ampersand {
  font-family: Brand;
  color: var(--black);
  -webkit-text-fill-color: var(--light);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--black);
}
